body {
    background-color: #e7e7e7;
}

.container {
    width: 70%;
    max-width: 912px;
}

.dropdown-content {
    width: 155px;
    display: block;
    opacity: 1;
}

.dropdown-content > li > a > i {
    float: left;
    margin-right: 10px;
}

main {
    position: fixed;
    height: calc(100% - 84px);
    width: 100%;
    margin-top: 20px;
}

main > .container {
    height: 100%;
}

.container > .row,
.container > .row > .col {
    height: inherit;
}

.card {
    position: relative;
    margin: 0;
    height: calc(100% - 20px);
    max-height: 600px;
    background-color: rgba(252, 252, 252, 0.9);
    overflow-y: scroll;
    overflow-x: hidden;
}

.card > .card-content {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    width: 100%;
}

.card-panel,
textarea {
    font-family: monospace;
    font-size: 20px !important;
}

.card-panel > .row {
    margin-bottom: 0;
}

p {
    width: 407px;
    margin-left: 10.5px !important;
}

p:first-child {
    border-bottom: 1px dotted #dd9edd;
}

.active-red {
    color: red !important;
}

.block {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease 0.06s;
}

.block-animation {
    transform: translateX(-400px);
    opacity: 0;
}

.input-field {
    width: 430px;
}

textarea {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    border-right: 1px dotted #fff !important;
}

textarea:focus {
    border-right: 1px dotted #26a69a !important;            
}